<div class="main-content">
  <img src="{{logo}}">
  <h2>Never hang out alone again</h2>
  <div>
    <p>You will find, on this website, every informations about the database <i>(number of users registered, some metrics too)</i> and the server status.</p>
    <p>Also, you will be able to interact with the database to <b style="color: rgb(182, 255, 182);">retrieve</b>, <b style="color: rgb(255, 255, 182);">create</b>, <b style="color: rgb(182, 182, 255);">modify</b> or <b style="color: rgb(255, 182, 182);">delete</b> elements in a very simple way.</p>
    <p>Finally, you can find link to the Reverse-Proxy dashboard, <a href="https://traefik.io/" target="_blank" rel="noopener noreferrer">Traefik<mat-icon>open_in_new</mat-icon></a>, and to a more complex database manager, <a href="https://www.pgadmin.org/" target="_blank" rel="noopener noreferrer">PgAdmin4<mat-icon>open_in_new</mat-icon></a></p>
  </div>
</div>