.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main-content img {
  width: 75%;
  margin-top: 2%;
  margin-bottom: 30px;
}

.main-content h2 {
  font-size: 3vw;
  font-weight: bold;
  font-style: italic;

  text-transform: uppercase;
  text-align: center;

  padding: 1vw;
  padding-left: 0.5vw;

  color: black;
  background-color: aliceblue;
  transition: ease-in-out 500ms;
}

.main-content h2:hover {
  color: goldenrod;
}

.main-content div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.main-content div p {
  font-size: 1.4rem;
  max-width: 700px;
  text-align: center;
  padding: 1%;
}

.main-content div p i {
  color: silver;
  font-size: 1.1rem;
}

.main-content div p a {
  color: goldenrod;
  text-decoration: none;
}

.main-content div p a mat-icon {
  font-size: 1.1rem;
}
